<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="doxxo-relative-root" content="{{relativeRoot}}">
  <meta name="doxxo-github-url" content="https://github.com/gilt/doxxo">

  <link rel="stylesheet" type="text/css" media="all" href="{{assetRoot}}/css/style.css">

  <script type="text/javascript" src="{{assetRoot}}/js/behavior.js"></script>
</head>

<body>
  <section id="meta">
    <div class="file-path">
      <a href="{{file.url}}">{{file.path}}</a>
    </div>
  </section>
  <section id="document">

  {{#each blocks}}
    <a name="section-{@idx}{.}{/idx}"></a>
    <div class="pilwrap">
      <a class="pilcrow" href="#section-{{@index}}">&#182;</a>
    </div>

    <article class="segment">
      <div class="comments ">
        <div class="wrapper">
          {{#if ctx}}
          <p><span class="doc-section-header">{{#scope}}{{.}}{{/scope}}{{#if isConstructor}} constructor{{/if}} {{type}} {{ctx.name}}</span></p>
          {{/if}}

          {{#if description}}
          <p>{{description}}</p>
          {{/if}}

          {{#if parameters}}
          <p>Parameters:</p>
          <ul>
            {{#each parameters}}
            <li>
              <strong>
                {{name}}{{#if type}} must be of {{type}}.{{/if}}
              </strong>
              {{#description}}<br>({{.}}){{/description}}
            </li>
            {{/each}}
          </ul>
          {{/if}}

          {{#if returns}}
          <p>
            <strong>Returns a {{returns.type}}</strong>
            {{#returns.description}}<br>({{.}}){{/returns.description}}
          </p>
          {{/if}}
        </div>
      </div>
      <div class="code">
        <div class="wrapper">
          <pre lang="javascript">
{{{code}}}
          </pre>
        </div>
      </div>
    </article>
  {{/each}}

  </section>

</body>
</html>